.navbar {
    width: 100vw;
    height: 8vh;
    position: fixed;
}

.logoWrapper {
    width: 10vw;
    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
}

svg {
    width: 4vw;
    margin-top: 2vh;
    color: #16a34a;
}

.logoTitleWrapper {
    height: 8vh;
    margin: 0px;
}

.logoTitleFirstWord {
    margin: 0px;
    padding: 0px;
    margin-left: .5vw;
    padding: 0px;
    font-size: 28px;
    font-weight: 500;
    background-image: linear-gradient(to right, #066349, #16a34a);
    /* Define your gradient colors */
    -webkit-background-clip: text;
    /* For Safari */
    background-clip: text;
    /* Apply background gradient to text */
    color: transparent;
    /* Hide original text color */
    display: block;
    height: 5vh;

}

.logoTitleSecondWord {
    margin-left: 1vw;
    font-size: 18px;
    font-weight: 500;
    background-image: linear-gradient(to right, #066349, #16a34a);
    -webkit-background-clip: text;
    /* For Safari */
    background-clip: text;
    /* Apply background gradient to text */
    color: transparent;
}