<div class="container d-flex text-center">
    <div class="aboutUsWrapper">
        <div class="d-flex aboutUsQuesWrapper">
            <h2 class="me-3" [style.color]="isDarkMode?'white':'#454e5d'">من نحن</h2>
            <i class="bi bi-dash-lg text-light"></i>
        </div>
        <h3 [ngClass]="{
            aboutUsDarkMode:isDarkMode,
            aboutUsLightMode:!isDarkMode,
        }">مفتاحك للزراعة المصرية</h3>
        <p [style.color]="isDarkMode?'white':'#454e5d'">جرين فودز هي مصدر زراعي بارز ، تقدم مجموعة متنوعة من المنتجات
            عالية الجودة. مع الالتزام بالتميز ورضا
            العملاء ، أنشأنا أنفسنا كخيار مفضل في هذه الصناعة. تتيح لنا شبكتنا الواسعة من المزارع الموثوقة توفير مجموعة
            واسعة من العناصر الزراعية المتميزة.</p>
        <p [style.color]="isDarkMode?'white':'#454e5d'">نحن نعطي الأولوية للجودة ، وضمان تلبية منتجاتنا لأعلى المعايير.
            من خلال الخدمات اللوجستية الفعالة والدعم
            الشخصي ، نضمن التسليم في الوقت المناسب وبشكل موثوق.</p>
        <p [style.color]="isDarkMode?'white':'#454e5d'">الثقة والشفافية والممارسات الأخلاقية هي أساس أعمالنا. يمكننا
            تلبية
            احتياجاتك من خلال خيارات تغليف قابلة للتخصيص.</p>
    </div>
    <img class=""
        src="../../../../../assets/Images/friends-from-crowd-students-embraces-young-people-communicate-characters-discuss-latest_118813-20151-removebg-preview.png" />
</div>