<div class="background-video">
    <div class="welcomeBackground">

    </div>
    <div class="welcomeWrapper">
        <h1>مصدر للفواكه والخضروات الطازجة والمجمدة من الدرجة الأولى</h1>
        <p class="text-light">.افتح عالما من الجودة الاستثنائية والأسعار التنافسية والمنتجات الزراعية المستدامة التي
            ستميز عملك عن المنافسة
        </p>
    </div>
    <video id="video-bg" preload="auto" muted>
        <source src="../../../assets/Videos/4812203-hd_1080_1920_30fps.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</div>